# fly.toml app configuration file generated for api-groovio on 2025-12-06T20:39:00+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'api-groovio'
primary_region = 'fra'

[build]
  [build.args]
    GO_VERSION = '1.24.6'
    PB_VERSION = '0.29.3'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'

[mounts]
  destination = "/pb/pb_data"
  source = "pb_data"